form {
  border: 1px solid gray;
  width: 90%;
  height: 10rem;
  margin: 2rem auto;
  padding: 2rem;

  .json-pretty {
    background-color: white;
  }
}

.ouput {
  height: 50vh;
  margin: 2rem;
  border: solid 1px gray;
}
